@tailwind base;
@tailwind components;
@tailwind utilities;



.home{
    clip-path: polygon(47% 9%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}


.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#474bff);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}



/* Style for the main carousel image */
.carousel .carousel-slider .slider-wrapper .slider .slide img {
   height: 300px; /* Set the desired height for the carousel image */
   object-fit: cover; /* Adjust this as needed */
   width: 100%; /* Make sure it covers the full width */
}

/* Style for the thumbnails */
.carousel .thumbs-wrapper .thumbs .thumb img {
   height: 100px; /* 1/4th of the main carousel image height */
   object-fit: cover; /* Adjust to your needs */
   width: auto;
}

.carousel .thumbs-wrapper .thumbs {
   display: flex;
   justify-content: center;
}
